<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orgão Hipotético de Trânsito</title>
    <link rel="stylesheet" href="../CSS/style.css">
    <link rel="stylesheet" href="../CSS/style2.css">

    <link rel="stylesheet" th:href="@{/CSS/style.css}" href="../static/CSS/style.css">
    <link rel="stylesheet" th:href="@{/CSS/newStyle.css}" href="../static/CSS/newStyle.css">
    
   
</head>
<body class="body">
    <header class="header">
        
        <div class="cabecalho">
          
            <a class="indices_nav" href="./login.html">Quem Somos</a>

            <a class="indices_nav" th:href="@{/principal}" >Inicio</a>

            <a th:href="@{/principal/login}" class="indices_nav">Login</a>

            <button class="trocar-fundo" type="button">
                <img   src="../Midia/trocar-fundo.png" alt="simboloParaTrocarFundo"
                width="20px"
                height="20px"
                >
            </button>
            
        </div>
    </header>
    <main class="main_lo">

        <div class="sub_main_lo">
            <form data-subG class="form">

                <h4 class="title_login">Cadastro</h4>
    
                <div class="form_father">
    
                    <div class="form_sun">
                        <label class="idform" for="idusuario">Crie o seu usuário</label>
                        <input data-user class="input"  type="text" name="idusuario" id="idusuario" >
                    </div>
    
                    <div class="form_sun_b">
                        <label class="idform" for="idpassword">Crie sua senha</label>
                        <input  data-pass class="input" type="password" id="idpassword" name="idpassword">
                    </div>
                        
                    <div class="form_sun_c">
                        <label class="idform" for="idcep">Digite Seu CEP</label>
                        <input  data-cep class="input" type="text" id="idcep" name="idcep">
                    </div>

                    <input     class="submit" type="submit" value="Criar Conta >>"/>
            
            </form>
        </div>

            
          <img class="mascote_lo" src="../Midia/boneca-2.png" alt="mascote_interagindo"
        width="334px"
        height="500px">

        <img class="relogio" src="../Midia/relogio 2.png" alt="relogio"
        width="120px"
        height="120px">

      
    </main>
    <div class="trocar-fundo-op">
        <button class="b_cla">Claro</button>
        <button class="b_ce">Escuro</button>
    </div>


</body>
</html>