<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orgão Hipotético de Trânsito</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <link rel="stylesheet" th:href="@{/CSS/style.css}" href="../static/CSS/style.css">
    
    <script src="../cod-JS/index.js" defer type="module" ></script>

</head>
<body class="body">


    <header class="header">

        <div class="cabecalho">
            <a class="indices_nav" >Quem Somos</a>

            <a class="indices_nav" th:href="@{principal/login}">Login</a>
    
            <a data-cadainicial class="indices_nav" th:href="@{principal/cadastro}">Cadastro</a>
        </div>

    </header>



    <section class="wall">

        <div class="wallpaper">
            <div class="botoes_interacao_orientacao">
                <div class="botoes_interacao_orientacao_2">
                    <a class="botoes__botao" href="">Pagamento</a>
                    <a class="botoes__botao" href="">Atentimento</a>
                    <button type="button" class="botao_interativo">
                         <h5 class="text-botao">localização</h5>
                    </button>
                </div>
            </div>

          

            <div class="slogan">
                <h1 class="slo1">Desperte o melhor de cada <strong class="strong">viagem:</strong></h1>
                <h1 class="slo2"><strong class="strong">gentileza </strong>no trânsito transforma estradas </h1>
                <h1 class="slo3">comuns em caminhos <strong class="strong">extraordinários.</strong></h1>
            </div>

            <img class="wallpaper_filho" src="../midia/busnes-man-5.png" alt="homem com celular">
        </div>
        
    </section>

    <main class="main">

        <div class="travel">
            <img class="carromedonho"  src="../midia/travel 2.png" alt="">
        </div>

        <section class="apresentacao">

            <div class="apresentacao_textos">
                <h1 class="apresentacao_textos_titulo">Seu Aliado em Mobilidade e Tranquilidade!</h1>

                <p class="apresentacao_textos_conteudo">Seja bem-vindo à nossa plataforma dedicada a tornar sua experiência nas estradas ainda mais agradável e descomplicada.
                Somos sua solução completa, oferecendo serviços essenciais para motoristas de trânsito e turistas, garantindo sua paz de
                espírito em cada jornada. 
                </p>

                <h4 class="apresentacao_textos_titulo">Pagamento de Multas Simplificado:</h4>

                <p class="apresentacao_textos_conteudo">Não se preocupe mais com burocracias e longas filas! Estamos aqui para facilitar o pagamento de multas de trânsito,
                tornando o processo rápido, eficiente e, acima de tudo, sem estresse. Deixe-nos lidar com as formalidades para que você
                possa voltar às estradas com confiança.</p>

                <h4 class="apresentacao_textos_titulo">Ouvidoria Personalizada:</h4>
                <p class="apresentacao_textos_conteudo">Sua opinião é fundamental para nós! Tem alguma sugestão, reclamação ou elogio? Nossa equipe de ouvidoria está à disposição
                para ouvir suas experiências e garantir que suas preocupações sejam tratadas com atenção e agilidade. Juntos, construímos um 
                trânsito mais justo e seguro.</p>
                
            </div>

        </section>

        <div class="mascote">
            <img class="mascote_imagem" src="../midia/mascote.png" alt="mascote do site'">
        </div>

        <div class="circulo">
            <img src="../midia/ciruclo.png" alt="">
        </div>
    </main>
    <footer class="rodape">
        <h2 class="titulo">Desenvolvido Por:</h2>

        

        <a class="Links" href="https://github.com/AlisonMartinss?tab=repositories">
            Acesse meu perfil no GitHub !
            <img src="../midia/pngwing.com.png" alt=""
            width="85px"
            height="85px">
        </a>

        <a class="Links" href="https://www.linkedin.com/in/alisonsoaresm/">

            Acesse meu perfil no LinKedin !
            <img src="../midia/iconeLinkedim.png" alt=""
            width="70px"
            height="70px">
        </a>

        <h2 class="vercao">V-1.0</h2>

    </footer>

    
   

</body>
</html>