<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orgão Hipotético de Trânsito</title>

    <link rel="stylesheet" th:href="@{/CSS/style.css}" href="../static/CSS/style.css">
    <link rel="stylesheet" th:href="@{/CSS/newStyle.css}" href="../static/CSS/newStyle.css">
    <link rel="stylesheet" th:href="@{/CSS/loby.css}" href="../static/CSS/newStyle.css">

    <script src="../cod-JS/interação-simples.js" defer type="module" ></script>
    <script src="../cod-JS/loginForm.js" defer type="module" ></script>

</head>
<body>
    <header class="header-b">
        <div class="cabecalho-b">
                <div class="b_chat">

                    <img src="../Midia/chat_icone.png" alt="icone chat"
                    width="35px"
                    height="35px">

                    <a class="b_filtro_b" href="./Atendimento.html"> Atendimento</a>
        
                </div>

                <div class="b_chat">

                    <img src="../Midia/filtro.png" alt="icone de filtro"
                    width="30px"
                    height="30px">
        
                    <button data-filtraMultas class="b_filtro_b">
                        Filtrar Multas
                    </button>
        
                </div>
        </div>
</header>
</body>