<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orgão Hipotético de Trânsito</title>

    <link rel="stylesheet" th:href="@{/CSS/style.css}" href="../static/CSS/style.css">
    <link rel="stylesheet" th:href="@{/CSS/newStyle.css}" href="../static/CSS/newStyle.css">

    <script src="../cod-JS/interação-simples.js" defer type="module" ></script>
    <script src="../cod-JS/loginForm.js" defer type="module" ></script>

</head>
<body class="body">
    <header class="header">
        
        <div class="cabecalho">
          
            <a class="indices_nav" href="./login.html">Quem Somos</a>

            <a class="indices_nav" th:href="@{/principal}" >Inicio</a>

            <a th:href="@{/principal/cadastro}" class="indices_nav">Cadastro</a>

            <button class="trocar-fundo" type="button">
                <img   src="../Midia/trocar-fundo.png" alt="simboloParaTrocarFundo"
                width="20px"
                height="20px"
                >
            </button>
            
        </div>
    </header>
    <main class="main_lo">

        <div class="sub_main_lo">
            <form data-subL class="form">

                <h4 class="title_login">Login</h4>
    
                <div class="form_father">
    
                    <div class="form_sun">
                        <label  class="idform" for="idusuario">Usuário</label>
                        <input data-userLog class="input"  type="text" name="idusuario" id="idusuario" >
                    </div>
    
                    <div class="form_sun_b">
                        <label class="idform" for="idpassword">Senha</label>
                        <input data-passLog class="input" type="password" id="idpassword" name="idpassword">
                    </div>

                    <input class="submit" type="submit" value="Entrar >>"/>
                    <a class="forgot_pass" href="./index.html">Esqueci a Senha</a>
            </form>
        </div>

            
        <img class="mascote_lo" src="../Midia/boneca-2.png" alt="mascote_interagindo"
        width="334px"
        height="500px">

        <img class="relogio" src="../Midia/relogio 2.png" alt="relogio"
        width="120px"
        height="120px">

        <div data-alert   class="alert">
            
        </div>

      
    </main>

    <div class="trocar-fundo-op">
        <button class="b_cla">Claro</button>
        <button class="b_ce">Escuro</button>
    </div>


</body>
</html>